<div>
  <div>
  <mat-sidenav-container class="example-container" style="padding: 10px; width: 358.89px;">
    <mat-sidenav opened mode="side" style="background-color: bisque;">
      <mat-toolbar>Pulse</mat-toolbar>
    <mat-nav-list>


      <mat-list-item>
        <i class="fa-solid fa-plane-circle-xmark"></i>
        <span style="display: block;">Dashboard</span>
      </mat-list-item>

      <mat-list-item>
        <span>My Leaves</span>
      </mat-list-item>

      <mat-list-item>
        <span>My Task</span>
        <i class="fa-solid fa-plane-circle-xmark"></i> 
      </mat-list-item>

      <mat-list-item>
        <i class="fa-solid fa-camera-retro" style="color: #1c7ed6;"></i>
        <span>Logout</span>
      </mat-list-item>
    </mat-nav-list>
    </mat-sidenav>
  


  </mat-sidenav-container>
  


<router-outlet></router-outlet>
